.image_box {
  width: 450px;
}
.photo1 {
  position: absolute;
  top: 58px;
}
.photo2 {
  position: absolute;
  top: 182px;
  left: -88px;
}
.photo3 {
  display: none;
}
.heading {
  font-size: 32px;
  font-weight: 700;
  margin-left: 40px;
}
.paragraph_cont {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  margin-top: 20px;
}
.text_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin-top: 30px;
}
@media (max-width: 755px) {
  .photo1 {
    display: none;
  }
  .photo2 {
    display: none;
  }
  .photo3 {
    display: block;
  }
  .image_box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -80px;
  }
  .paragraph_cont {
    width: 100%;
    gap: 50px;
  }
  .text_list {
    gap: 5px;
  }
}
