.text_image_cont {
  display: flex;
  justify-content: space-between;
}
.text1 {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.text1.bold {
  font-weight: 700;
}
.text1:hover {
  color: #f47b56;
}
.text2 {
  font-size: 14px;
  font-weight: 400;
}
.button {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 0;
  cursor: pointer;
}
.rotate {
  transform: rotate(180deg);
  transition: 0.3s ease;
}
