* {
  box-sizing: border-box;
  margin: 0;
}
#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b068e9;
  padding-top: 120px;
  padding-left: 38px;
}
@media (max-width: 755px) {
  #root {
    padding-left: 0;
  }
}
